a{
  text-decoration:none;
}
.navbar{
  background-color:rgba(133,149,163);
}
.navbar-togeller{
  border:0px;
  focused: none;
  opacity: ;
  color:black;

}
@media (min-width: 992px) {
    .navbar-togeller {
      display: none;

    }
  }

span{
box-shadow: none;
  }
.navbar-toggler-icon{
  focused: none;
  bacground-color:none !important;
  color:black;
   
}



.backImage{
  opacity: 0.7;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vh;
  height: 100vh;

}



.blogs{
  display:flex;
  flex-wrap: wrap;

}
.register{
  background-color:rgba(135,135,135,0.3);
  border-radius:20px;
  max-width:600px;


}


body{
background-color:rgba(135,135,135,0.1)
}
.category{
  display:flex
  justify-content:center
  align-items:center
  background-color:rgba(135,135,135,0.3);
}

.col-3{
  background-color:rgba(55,58,64);
  height:100vh;
}
.col-9{
  background-color:rgba(50,58,64,0.1);
  height:100vh;
}
body{
  margin:0px;
  padding:0px;
  box-sizing: border-box;

}
.container{
  width:100%;

}
.main{
  width:100% !important;
}