{% extends "base.html" %}
{% load static %}
{% block title%}Detail{% endblock %}
 

{% block content %}
<div class="container">
    <div class="row" >

 
        <div class="card mb-3">
          <div class="row">
             
       
         
      
            <div class="col-9">
              <div class="card-body" >
                <h3 class="card-title mb-3 " >
                  <a href="{% url 'blog_details' blog.slug %}" style="color:black;">
                {{ blog.title | title}}
              </a>
          </h3>  
          <img
          src="{{blog.image.url}}" 
          alt="{% static blog.alt%}"
          class="img-fluid"
          style=" width: 50%; float:left; margin-right: 20px; margin-bottom: 20px;"
        /> 
      
          <p class="card-text">
            {{ blog.description | safe }}
          </p>
              </div>
            </div>
          </div>
        </div>
      
    
      </div>
    </div>





{% endblock  %} 

{% comment %} {% block js_files %}
<script src="{% static 'blog/js/detail.js'}"
{% endblock %} {% endcomment %}